<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <h1 id='site_title'>Test Website Home</h1>
        <hr></hr>
        <div class="article">
            <h2><a href="about.html">About Page</a></h2>
            <p></p>
        </div>
        <hr></hr>

        {% for post in posts %}
          <h1>{{post.posttitle}}</h1>
          <p>{{post.postcontent}}</p>
          <h4>Labels: <h5>{{post.postlabels}}</h5></h4>
          <h2> ----------------------------</h2>
        {% endfor %}

        <div class='footer'>
            <p>Footer Information</p>
        </div>

        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
